html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
:root {
    --site-color1: #000;
    --site-color2: #ff9900;
    --site-color3: #fff;
    --loading-color: #000;
  }
body {
    display: flex; /* Use flexbox to help control layout */
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--site-color1);
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    
}


.loadingscreen {
    display: flex;
    justify-content: center;
}
#preloader {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 9999; /* High z-index to be on top */
    background-color: #000; /* Fallback background color */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Set the SVG fill color */
#preloader svg rect {
    fill: #FF9900;
}

/*preloader text */
#loadingtext1 {
color: var(--site-color2);
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

#loadingtext2 {
color: #FFF;
text-align: center;
font-family: VT323;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
 


 .hero {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
}


 
  
.blank {
    width: 100%;
    height: 100px;
}

  
     

